.search {
  border: 1px solid #c4c4c4;
  width: 30rem;
  overflow-x: hidden;
  display: flex;
  border-radius: 50px;
  font-size: 18px;
  position: relative;
  left:35%;
  top:200px;
}

.search input{
  width: 300px;
  height:65px;
  border: none;
  padding: 8px 20px;
  outline: none;
  font-size: 18px;
 
}
.button-src{
  padding: 10px 60px; 
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  margin: 9px 7px;
  background-color: #c54427;
  color: #ffffff;
  font-size: 18px;
}

p {
  padding-left: 2.7rem;
  padding-right: 1rem;
}

/* button{
  border-radius: 50px;
  border: none;
  margin: 9px 7px;
  background-color: #c54427;
  color: #ffffff;
  font-size: 18px;
} */
