h1 {
  color: white;
  letter-spacing: .8rem;
  font-size: 2.5rem;
}

hr {
  border: 1px solid white;
  width: 70rem;
}

.title {
  padding-top: 1.5rem;
}


.cocktail-img {
height: 12rem;
}

header {
  display: flex;
  padding-top: 1rem;
  padding-left: .5rem;
}

@media screen and (max-width: 630px) {
  h1 {
    color: white;
  }
  
    hr {
      border: 1px solid white;
      width: 20rem;
    }
}

@media screen and (max-width: 767px) {
  h1 {
    color: white;
  }
  
  .cocktail-img {
    height: 15rem;
    }
    
    hr {
      border: 1px solid white;
      width: 20rem;
    }
}

@media screen and (max-width: 1190px) {
    hr {
      border: 1px solid white;
      width: 60rem;
    }
}

@media screen and (max-width: 1113px) {
  hr {
    border: 1px solid white;
    width: 50rem;
  }
}

@media screen and (max-width: 956px) {
  hr {
    border: 1px solid white;
    width: 41rem;
  }
}

@media screen and (max-width: 824px) {
  hr {
    border: 1px solid white;
    width: 35rem;
  }
}

@media screen and (max-width: 780px) {
    .cocktail-img {
      height: 15rem;
    }
    hr {
      border: 1px solid white;
      width: 30rem;
    }
}

@media screen and (max-width: 545px) { 
  hr {
    border: 1px solid white;
    width: 35rem;
  }

  h1 {
    color: white;
  }

  .cocktail-img {
    display: none;
  }
}
